.app {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  display: flex;
  height: 30em;
  border: 1px solid red;
  background-color: aliceblue;
  width: 50em;
  gap: 10px;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 80%;
  background-color: skyblue;
  border: 1px solid blue;
}
